<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitLife - Contact</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <header>
    <div class="logo">FitLife</div>
    <nav>
      <a href="dashboard.html">Home</a>
      <a href="about.html">About</a>
      <a href="programs.html">Programs</a>
      <a href="pricing.html">Pricing</a>
      <a href="trainers.html">Trainers</a>
      <a href="contact.html" class="active">Contact</a>
      <a href="login.html">Login</a>
    </nav>
  </header>

  <section class="contact container">
    <h2>Contact Us</h2>
    <form th:action="@{/formSubmit}" method="post" th:object="${contact}">
      <input type="text" th:field="*{name}" placeholder="Your Name">
      <input type="email"  th:field="*{email}" placeholder="Your Email" >
      <input type="text"  th:field="*{message}"placeholder="Your Message" rows="4" >
      <button type="submit">Send Message</button>
    </form>
  </section>

  <footer>
    <p>&copy; 2025 FitLife. All Rights Reserved.</p>
  </footer>

</body>
</html>
